@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&family=Orbitron:wght@400;500;800&display=swap');

:root{
  --bg:#19224c;
  --nav-bg:#243997;
  --accent:rgb(74, 252, 255);
  --secondary: #bbbed1;
}

a {
  color: white;
}

a:hover{
  color: var(--accent);
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: var(--bg);
  color: var(--secondary);
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
}

.vh-90{
  height: 90vh;
}

.about-me{
  display: flex;
  justify-content: center;
  align-items: center;

}

.myphoto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50px;
  margin: 30px;
}

.nav-style {
  background-color: var(--nav-bg);
}

.secondary-color{
  color: var(--secondary);
}

.accent-color{
  color: var(--accent);
}

.project-pic {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
  padding:5%;
  transition: 0.5s ease;
}

/* .project-pic:hover {
  border-radius: 50px;
  filter:opacity(30%);
  transition: 0.5s ease;
} */

.project{
  position: relative;
  transition: 0.5s ease;
}

.project:hover .project-content{
  filter:opacity(100%);
  font-size: 1.5rem;
  transition: 0.5s ease;
}

.project:hover .project-pic{
  border-radius: 50px;
  filter:opacity(30%);
  transition: 0.5s ease;
}

.project-content{
  position:absolute;
  filter:opacity(0%);
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.project-title a{
  font-family: 'Orbitron';
  font-weight: 500;
}