@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&family=Orbitron:wght@400;500;800&display=swap');

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
}